#popup-show-meeting, #popup-edit-meeting, #popup-create-meeting {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;  /* La popup est cachée par défaut */
    z-index: 1000;  /* Assurez-vous qu'elle est au-dessus des autres éléments */
    display: flex;  /* Utilisez flex pour centrer */
    align-items: center;  /* Centrage vertical */
    justify-content: center;  /* Centrage horizontal */
}

.popup-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);  /* Fond sombre qui couvre l'écran */
}

.popup-container {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    max-width: 600px;
    min-width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre pour donner un effet de profondeur */
    z-index: 1001;  /* S'assurer que la popup est au-dessus de l'overlay */
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup-footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.popup-content {
    margin-top: 20px;
}
