/* Styles généraux pour le barre de contrôle */
#controls {
    /* position: fixed; */
    display: flex; 
    align-items: center; 
    background-color: var(--onglet-color);
    padding: 10px;
    gap: 20px; 
    width: 100%;
    height: 60px;  /* Hauteur du footer = 3% de la hauteur de l'écran */
    top: 10vh;  /* Colle #controls juste en dessous de l'élément header */
    left : 0;
    z-index: 500; 
}

.calendar-controls button {
    display: flex;
    flex: 1; /* Permet aux boutons de prendre l'espace restant */
    margin: 0; /* Supprime l'espace entre les boutons pour qu'ils se touchent */
    padding: 20px; /* Ajoute de l'espace intérieur pour rendre les boutons plus grands */
    color: var(--text-color); 
    border: none; 
    cursor: pointer; 
    align-items: center;
    justify-content: center;
    font-size: var(--heading-font-size);
}

/* Icône du calendrier */
#calendar-icon {
    margin-left: 10px; 
    width: 50px;
}

/* Bouton "Aujourd'hui" */
#today-button {
    background-color: transparent; /* Fond transparent */
    color: var(--text-color); /* Couleur du texte */
    border: none; /* Pas de bordure */
    cursor: pointer; /* Curseur de clic */
    font-size: var(--heading-font-size);/* Taille du texte */
    font-weight: bold; /* Texte en gras */
}

/* Bouton "Nouvelle Réunion" */
#new-meeting-button {
    background-color: transparent; /* Fond transparent */
    color: var(--text-color); /* Couleur du texte */
    border: none; /* Pas de bordure */
    cursor: pointer; /* Curseur de clic */
    font-size: var(--heading-font-size); /* Taille du texte */
    font-weight: bold; /* Texte en gras */
}

/* Boutons de navigation */
#prev-date-button, #next-date-button, #prev-month-button, #next-month-button {
    background: none;
    border: none;
    color: var(--text-color);
    cursor: pointer;
    font-size: var(--heading-font-size);
    margin: 0 5px;
}

/* Mois en cours */
#current-month {
    font-weight: bold;
    font-size: var(--heading-font-size);
    cursor: pointer;
    padding: 0 10px;
    text-align: center;
    display: inline-block;
    min-width: 180px;
    color: var(--text-color);
}

/* Styles pour le bouton de vue Semaine/Jour */
.view-mode {
    display: flex;
    align-items: center;
    /* margin-left: auto; Positionne à droite */
}

#view-mode-button {
    background-color: transparent;
    color: var(--text-color); 
    border: none; 
    font-size: var(--heading-font-size);
    font-weight: bold; 
    cursor: pointer; 
    display: flex; /* Flex pour alignement avec le texte et le triangle */
    align-items: center; 
}
